.t-page-title{
	margin: 25px;
	text-decoration: underline;
}

.t-page-content{
	width: 100%;
	padding: 10px;
}

.t-input{
    height: 30px;
    border-radius: 5px;
    border-top: 0;
    border-bottom: 1px solid black;
    line-height: 30px;
    padding: 10px;
    cursor: pointer;
}

